
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Pizza <ion-icon name="pizza"></ion-icon> App</ion-title>
  <ion-buttons end>
    <cart-indicator (wasClicked)="openCart()"></cart-indicator>
  </ion-buttons>
</ion-navbar>

<ion-toolbar>
  <ion-searchbar
    [(ngModel)]="search"
  >
  </ion-searchbar>
</ion-toolbar>

<ion-content>
  <div [hidden]="!loading" text-center padding>
    <ion-spinner></ion-spinner>
  </div>
  <ion-refresher (refresh)="doRefresh($event)">
    <ion-refresher-content
      pullingText="aktualisieren..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-item-group [hidden]="loading">
    <ion-item-divider>
      <ion-icon name="beer"></ion-icon> Angebot
    </ion-item-divider>
    <ion-item (click)="openPizza(pizza.id)" *ngFor="#pizza of pizzas | pizzaSearch:search">
      <ion-row class="row-no-padding row-center">
        <ion-col width-10 text-left>{{pizza.id}}</ion-col>
        <ion-col width-60><h2>{{pizza.name}}</h2><p>{{pizza.price | currency}}</p></ion-col>
        <ion-col width-10>
          <ion-icon name="information-circle" large></ion-icon>
        </ion-col>
        <ion-col width-20 text-right>
          <button block (click)="addToCart($event, pizza)">
            <ion-icon name="cart" large></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-item-group>
</ion-content>